<p>
Use this tool to get a list of Chicago beaches sorted by up current quality samples.
</p>

<p>
The beaches are ranked in ascending order based on Predicted E. coli level in Colony Forming Units (CFU) per 100 ml of water. 
</p>

<p>
“The maximum E. coli level allowed – 235 colony-forming units per 100 milliliters (cfu/100mL) – is based on guidelines established by the U.S. Environmental Protection Agency for recreational waters”
</p>

<p>
Swimming facilities. Illinois Department of Public Health. (2023). https://dph.illinois.gov/topics-services/environmental-health-protection/swimming-facilities.html#:~:text=Bathing%20Beaches&text=Admin.,Protection%20Agency%20for%20recreational%20waters.
</p>

<p>

<a href="https://dev.socrata.com/foundry/data.cityofchicago.org/xvsz-3xcj" target="_blank">Data Source</a>
</p>

<p>
If the prediction page is not working we have exceeded the number of requests.
</p>
