<h1>Chicago Beach Water Quality</h1>
<p>This table displays current samples based on Predicted E. coli level in CFU per 100 ml of water.  Value are sorted from lowest to highest concentrations with the cleanest beaches listed first.</p>
<p>
Do not swim if levels exceed 235 cfu!
</p>
<table>
  <thead>
    <tr>
      <th>Beach Name</th>
      <th>cfu/100mL</th>
    </tr>
  </thead>
  <tbody>
    <% @beaches.each do |beach| %>
      <tr>
        <td><%= beach["beach_name"] %></td>
        <td><%= beach["predicted_level"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  tr:hover {
        background-color: #f5f5f5;
    }
</style>
