<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
        body {

            background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/images/beach.jpg');
            background-size: cover;
            background-repeat: no-repeat;

        }

        .navbar {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            padding: 10px;
        }

        .navbar a {
            padding: 14px 16px;
            color: white; 
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

    </style>
    
  </head>

  <body>

   <div class="navbar">
        <a href="/prediction">Beach Water Quality</a>
        <a href="/about">About</a>
    </div>

    <%= yield %>
  </body>
</html>
